@import '_variables';

@font-face {
	font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf'); /* IE9 Compat Modes */
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans-Black.ttf'); /* IE9 Compat Modes */
}
