@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal/Tajawal-Black.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Tajawal/Tajawal-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal/Tajawal-Black.woff2") format("woff2"), url("../fonts/Tajawal/Tajawal-Black.woff") format("woff"), url("../fonts/Tajawal/Tajawal-Black.ttf") format("truetype"), url("../fonts/Tajawal/Tajawal-Black") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/Fira_Sans/FiraSans-Black.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Fira_Sans/FiraSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Fira_Sans/FiraSans-Black.woff2") format("woff2"), url("../fonts/Fira_Sans/FiraSans-Black.woff") format("woff"), url("../fonts/Fira_Sans/FiraSans-Black.ttf") format("truetype"), url("../fonts/Fira_Sans/FiraSans-Black") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: 'Tajawal', arial, sans-serif;
  width: 950px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 952px) {
  * body {
    width: 100%;
  }
}

* body a {
  text-decoration: none;
  color: inherit;
}

* body .container {
  margin-top: 0;
}

@media screen and (max-width: 952px) {
  * body .container {
    margin-top: 4rem;
  }
}

* body section.section__body {
  color: #1b1b20;
}

@media screen and (max-width: 952px) {
  * body section.section__body {
    margin: 0 auto;
    padding-top: 20%;
  }
  * body section.section__body:first-child {
    padding-top: 10%;
  }
}

@media screen and (max-width: 576px) {
  * body section.section__body {
    width: 100%;
  }
}

* body section.section__body .section__headline {
  display: inline-block;
  padding: 4px 14px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 18px 30px;
  color: #3d3d5a;
  background: #e7e7f1;
  margin-bottom: 10px;
}

@media screen and (max-width: 952px) {
  * body section.section__body .section__headline {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 576px) {
  * body section.section__body .section__headline {
    font-size: 1rem;
  }
}

* body section.section__body .section__headline.large {
  background: #e7e7f1;
  font-size: 1.6rem;
}

@media screen and (max-width: 576px) {
  * body section.section__body .section__headline.large {
    font-size: 1.4rem;
  }
}

* body section.section__body .section__header {
  display: inline-block;
  font-family: 'Fira Sans', arial, sans-serif;
  font-size: 2.5rem;
  color: #d1d1d1;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 900;
}

@media screen and (max-width: 952px) {
  * body section.section__body .section__header {
    font-size: 2rem;
  }
}

* body section.section__body .header-with-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 952px) {
  * body section.section__body .header-with-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

* body section.section__body .section__copy {
  font-size: 1.05rem;
  padding-bottom: 12px;
  padding-left: 1rem;
  color: #1b1b20;
  font-family: inherit;
}

@media screen and (max-width: 952px) {
  * body section.section__body .section__copy {
    font-size: 1rem;
  }
}

* body .image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

* body .image-wrapper img.img {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  max-width: 260px;
  min-width: 260px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 80% 50%;
  margin: 1rem;
}

* body .image-wrapper .mobile-shape {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 80% 50%;
}

* body .image-wrapper .ms-left {
  background: #d8d8ee;
  left: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  z-index: -1;
}

* body .image-wrapper .ms-right {
  background: #e7e7f1;
  right: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  z-index: -1;
}

* body .break {
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 952px) {
  * body .break {
    height: 0px;
  }
}

* body .push-left {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  * body .push-left {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

* body .push-right {
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  * body .push-right {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

* body .push-left_hard {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  * body .push-left_hard {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

* body .push-right_hard {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media screen and (max-width: 952px) {
  * body .push-right_hard {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.fading-arrow {
  display: inline-block;
  -webkit-clip-path: polygon(50% 70%, 0 30%, 100% 30%);
          clip-path: polygon(50% 70%, 0 30%, 100% 30%);
  height: 28px;
  width: 28px;
  background: #3d3d5a;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  opacity: 0.1;
}

.fading-arrow-1 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 0.5s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 0.5s infinite forwards;
}

.fading-arrow-2 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 1s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 1s infinite forwards;
}

.fading-arrow-3 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 1.5s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 1.5s infinite forwards;
}

.fading-arrow-4 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 2s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 2s infinite forwards;
}

.fading-arrow-5 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 2.5s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 2.5s infinite forwards;
}

.fading-arrow-6 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 3s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 3s infinite forwards;
}

.fading-arrow-7 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 3.5s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 3.5s infinite forwards;
}

.fading-arrow-8 {
  -webkit-animation: fading-arrow 1600ms ease-in-out 4s infinite forwards;
          animation: fading-arrow 1600ms ease-in-out 4s infinite forwards;
}

@-webkit-keyframes fading-arrow {
  0% {
    opacity: 0.05;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
            clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-clip-path: polygon(50% 80%, 12% 30%, 88% 30%);
            clip-path: polygon(50% 80%, 12% 30%, 88% 30%);
  }
  100% {
    opacity: 0.05;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
            clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
  }
}

@keyframes fading-arrow {
  0% {
    opacity: 0.05;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
            clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-clip-path: polygon(50% 80%, 12% 30%, 88% 30%);
            clip-path: polygon(50% 80%, 12% 30%, 88% 30%);
  }
  100% {
    opacity: 0.05;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
            clip-path: polygon(50% 70%, 12% 30%, 88% 30%);
  }
}

.contact {
  overflow: hidden;
}

.form-wrapper {
  padding: 5%;
}

form {
  width: 80%;
  margin: 0 auto;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

form .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  form .name-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

form input[type='submit'] {
  margin: 10px 10px 10px auto;
  border: none;
  padding: 0.4rem 1rem;
  font-family: inherit;
  background: #3d3d5a;
  color: #f3f3f3;
  font-size: 16px;
  z-index: 1;
  opacity: 0.4;
  cursor: default;
}

@media screen and (max-width: 576px) {
  form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

form.mail-sent {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.thank-you {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.thank-you_visible {
  -webkit-animation: thank-you 500ms ease-in-out 0s 1 forwards;
          animation: thank-you 500ms ease-in-out 0s 1 forwards;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background: #e7e7f1;
  position: relative;
  margin-top: 2.4rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-container:first-child {
  border-right: 2px solid #d8d8ee;
}

@media screen and (max-width: 576px) {
  .input-container:first-child {
    border-right: none;
  }
}

.input-container label.form-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #1b1b20;
  font-weight: 100;
  font-size: 16px;
  padding: 0.4rem 0.8rem;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: text;
}

.input-container label.form-label__focus {
  -webkit-transform: translate(-5px, -32px);
          transform: translate(-5px, -32px);
  color: #3d3d5a;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.input-container input.form-field,
.input-container textarea.form-field {
  padding: 0.4rem 0.8rem;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-size: 18px;
  font-family: inherit;
  letter-spacing: 1px;
  outline: none;
  resize: none;
}

@media screen and (max-width: 576px) {
  .input-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.input-container.error {
  background: #f9dcdc;
  border: 1px solid #e78d8d;
}

.input-container__hover {
  background: #f3f3f3;
  margin-top: 40px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

@-webkit-keyframes thank-you {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  70% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes thank-you {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  70% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

svg.headline-tag {
  height: 36px;
}

svg.headline-tag path {
  fill: #d8d8ee;
  stroke: none;
}

@media screen and (max-width: 576px) {
  svg.headline-tag {
    height: auto;
    width: 100%;
  }
}

svg.same-line {
  margin-left: 16px;
}

@media screen and (max-width: 952px) {
  svg.same-line {
    margin-left: 0;
  }
}

svg.click-through {
  width: 240px;
  position: absolute;
  overflow: auto;
  bottom: -80px;
  left: 0%;
}

@media screen and (max-width: 952px) {
  svg.click-through {
    bottom: -120px;
  }
}

@media screen and (max-width: 768px) {
  svg.click-through {
    bottom: -120px;
    width: 180px;
  }
}

@media screen and (max-width: 576px) {
  svg.click-through {
    bottom: -125px;
  }
}

svg.listen-in {
  width: 240px;
  position: absolute;
  overflow: auto;
  top: -200px;
  right: 0%;
}

@media screen and (max-width: 952px) {
  svg.listen-in {
    top: 50px;
  }
}

@media screen and (max-width: 768px) {
  svg.listen-in {
    width: 180px;
  }
}

@media screen and (max-width: 576px) {
  svg.listen-in {
    top: -55px;
  }
}
/*# sourceMappingURL=styles.css.map */